.account-settings form {
    display: flex;
    margin-top: 5%;

}

.account-settings .left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.account-settings .right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
}

.account-settings .right-container img {
    width: 50%;
    border-radius: 50%;
}

.account-settings .left-container button {
    margin-top: 5%;
    width: 10%;
    height: 8%;
    margin-left: 3%;
}

.checkout {
    width: 20%;
    margin: auto;
    margin-top: 5%;
}