.update-password {
    background-color: #F9FAFF;
    height: 100%;
    margin-left: 15.5%;
}

.update-password .header {
    font-size: 2em;
    margin-bottom: 3%;
}

.update-password form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px lightgray solid;
    width: 380px;
    height: 470px;
    margin: auto;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 15%;
    margin-top: 10%;
}

.update-password form .update-password-button {
    margin-top: 5%;
}

.update-password form a {
    color: #4C7AF1;
    font-size: .9em;
    padding-bottom: 5%;
}
