.admin-panel-container {
  background-color: #EAEAEA;
  height: 100vh;
  padding-top: 5%;
}

.admin-panel {
  display: flex;
  border: 1px blue solid;
  margin-left: 30%;
}

.admin-panel form {
  width: 50%;
  display: flex;
  margin-left: 30%;
  padding: 2.5%;
  border: 2px gray solid;
  border-radius: 5px;
  background-color: white;
  margin-top: 2%;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-left: 15px;
}

.right-container {

}

.admin-panel p {
  /* border: 1px solid black; */
  display: flex;
  padding-left: 15px;
}

.admin-panel .add-button {
  /* border: 1px solid red; */
  font-size: 12px;
  width: 180px;
  margin-top: 15px;
}

.admin-panel .image-style {
  /* border: 1px solid red; */
  width: 50px;
  margin-top: 4%;
  margin-left:5%;
}

.admin-panel .admin-table {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 17%;
}
