.admin-panel-container {
  background-color: #EAEAEA;
  height: 100vh;
  padding-top: 5%;
}

.admin-panel {
  width: 60%;
  display: flex;
  margin-left: 20%;
  padding: 2.5%;
  border: 2px gray solid;
  border-radius: 5px;
  background-color: white;
  margin-top: 2%;
}

.admin-panel form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 60%;
}

.right-container {
  width: 50%;
}

.admin-panel p {
  /* border: 1px solid black; */
  display: flex;
  padding-left: 15px;
}

.admin-panel .add-button {
  /* border: 1px solid red; */
  font-size: 12px;
  width: 200px;
  margin-top: 15px;
}

.admin-panel .image-style {
  /* border: 1px solid red; */
  width: 50px;
  margin-top: 4%;
  margin-left:5%;
}

.admin-panel .admin-table {
  display: flex;
  flex-direction: column;
  /* margin-left: 10%; */
  height: 35vh;
}
