.admin-panel-container {
  background-color: #EAEAEA;
  height: 100vh;
  padding-top: 5%;
}

.admin-panel {
  width: 65%;
  border: 2px red solid;
  display: flex;
  margin-left: 22%;
  padding: 2.5%;
  border: 2px gray solid;
  border-radius: 5px;
  background-color: white;
  margin-top: 2%;
}

.admin-panel form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  width: 80%;
}

.left-container {
  margin-top: 1%;
  margin-left: 6%;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 1%;
  margin-left: 10%;
  height: 80%;
}

.right-container #outlined-codeSnippet {
  max-height: 150px;
}
.admin-panel p {
  /* border: 1px solid black; */
  display: flex;
  padding-left: 15px;
}

.admin-panel .add-button {
  /* border: 1px solid red; */
  font-size: 12px;
  width: 200px;
  margin-top: 15px;
}

.admin-panel .image-style {
  /* border: 1px solid red; */
  width: 50px;
  margin-top: 4%;
  margin-left:5%;
}

.admin-panel .admin-table {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  /* margin-left: 10%; */
  height: 30vh;
}

@media (max-width: 1500px) {
  .admin-panel {
      width: 70%;
  }
}

@media (max-width: 800px) {
  .admin-panel {
      margin: auto;
      margin-top: 120px;
      width: 90%;
  }
}
