.chat-dashboard-container {
    display: flex;
    justify-content: center;
    margin-left: 13%;
    height: 100vh;
    margin-bottom: 0;
}

.chat-dash-left-container {
    border: 1px solid black;
    width: 30%;
}

.chat-dash-right-container {
    border: 1px solid black;
    width: 70%;
}

.chat-dash-middle-container {
    border: 1px solid black;
    width: 70%;
}

.convolist-container {


}
