.chat-dashboard-container {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    height: 100vh;
    overflow-y: hidden;
}

.chat-dash-left-container {
    border: 1px solid black;
    width: 40%;
}

.chat-dash-right-container {
    border: 1px solid black;
    width: 70%;
}

.chat-dash-middle-container {
    border: 1px solid black;
    width: 70%;
}

@media (max-width: 1250px) {
    .chat-dashboard-container {
      margin-left: 150px;
    }
}

@media (max-width: 800px) {
  .chat-dashboard-container {
    margin: auto;
    position: relative;
  }
}
