.chat-view .chat-view-header  {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: 3%;
}

.chat-view .messages {
  width: 80%;
  /* margin: auto; */
}

.chat-view .messages .message {
  margin-top: 2%;
}

.chat-view .messages .message img {
  width: 75px;
  height: 75px;
}

.chat-view .messages .message .message-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
